spring:
  application:
    name: online-store
  datasource:
    url: jdbc:h2:mem:onlinestore;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always

server:
  port: 8080

logging:
  level:
    com.ecommerce.onlinestore: INFO
    org.hibernate.SQL: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
